.heart {
  position: relative;
  width: 100px;
  height: 90px;
  margin: 0 auto;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50px;
  height: 80px;
  background-color: red;
  transform: rotate(-45deg);
  border-radius: 50px 50px 0 0;
  transform-origin: 0 100%;
}

.heart::after {
  content: "";
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
