* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.banner {
  height: 260px;
  background: url(../image/bannervin.jpg) no-repeat center/cover;
  position: relative;
  display: flex;
}

.logo img {
  width: 150px;
  background-color: #fff;
  border-radius: 5px;
  padding: 25px 25px 0;
  position: relative;
  top: 67%;
  left: 15%;
}

.info {
  color: #fff;
  margin-left: 20px;
  position: relative;
  top: 67%;
  left: 2%;
}

.info span {
  font-size: 20px;
}

.nav {
  border-bottom: 2px solid #ccc;
  padding: 10px;
}
.nav ul {
  display: flex;
  gap: 30px;
  padding: 14px 80px;
  list-style: none;
  justify-content: right;
}

.nav ul li a {
  text-decoration: none;
  color: #000;
}

.nav .active {
  color: red;
  font-weight: 600;
  border-bottom: 2px solid red;
}
